# ---------------------
# Node.js
# ---------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ---------------------
# Environment
# ---------------------
.env
.env.local
.env.*.local

# ---------------------
# Logs & reports
# ---------------------
logs
*.log
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# ---------------------
# Build & cache
# ---------------------
dist/
build/
.cache/
.parcel-cache/
.next/
out/
.temp/

# ---------------------
# Prisma
# ---------------------
/prisma/generated/
/prisma/dev.db        # caso use SQLite local no dev
/prisma/dev.db-journal
# migrations devem ser versionadas, então não ignore "migrations/"
!/prisma/migrations/

# ---------------------
# Coverage & tests
# ---------------------
coverage/
.nyc_output/
*.lcov

# ---------------------
# TypeScript
# ---------------------
*.tsbuildinfo

# ---------------------
# IDE / editor
# ---------------------
.vscode/
.idea/
*.swp
*.swo

# ---------------------
# OS
# ---------------------
.DS_Store
Thumbs.db
